@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

a:hover {
    text-decoration: none;
}

.product-presentation {
    width:250px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-presentation img {
    transition: 0.5s;
}

.presentation-image {
    width: 200px;
    height: 252px;
    padding-bottom: 10px;
    object-fit: cover;
}

h4 {
    margin: 0 auto;
}

h4, p {
    font-family: "Nunito Sans", sans-serif;
    color: #505050;
}

.item-category {
    color: #505050;
    margin: 0;
    font-family: "Libre Baskerville", sans-serif;
}

.presentation-description {
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.price-tag-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.price-tag {
    position: relative;
    left: 0;
    color: #FD8F5F;
    font-weight: 800;
}