.purchase-options {
    display: flex;
    flex-direction: column;
}

.purchase-button {
    background-color: #FD8F5F;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: color 0.4s linear;
    padding: 10px 15px;
    border-radius: 5px;
}

.purchase-button p {
    margin: 0;
    padding: 0;
    color: white;
}

.stock {
    font-size: 0.8rem;
}
