.promo-banner {
    width: 98vw;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image-cover {
    width: 98vw;
    height: 400px;
    background-color: black;
    opacity: 0.3;
    position: absolute;

}

.promo-banner img {
    width: 98vw;
    height: 400px;
    object-fit: cover;    
}

.banner-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner-description p {
    color: white;
}

.banner-text {
    max-width: 500px;
}

.banner-cta {
    padding: 10px 20px;
    border: 5px solid #ffe140;
}